.input-style {
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.input-style:focus {
    box-shadow: 0 0 5px rgba(0, 128, 0, 1);
    border: 1px solid rgba(0, 128, 0, 1);
}

.suggestion-style:hover {
    cursor: pointer;
    background-color: #f4f6f9;
}

.get-directions-btn {
    animation: pulse 2s infinite;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.back
{
    background: rgb(137, 161, 161);
}